* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  max-width: 500px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  margin-bottom: 40px;
}
.container ul {
  margin-top: 40px;
  max-width: 100%;
  width: 80%;
}
.container ul li {
  margin: 20px 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container ul li button {
  border: 1px solid red;
  background-color: #fff;
  color: red;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 20px;
}
.container form input {
  padding: 10px 20px;
  width: 300px;
}
.container form button {
  cursor: pointer;
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
  padding: 10px 20px;
}
